*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.navbar {
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: center;
}
.header {
    color: white;
    font-family: cursive;
    font-size: 50px;
}
html{
    background-color: #2D3436;
    background: linear-gradient(309deg, #000000, #2D3436);
    background-repeat: no-repeat;
    background-size: cover;
    scroll-behavior: smooth;
}